@{    ViewData["Title"] = "Home Page";  }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-6">Mi Bingo por tu cogote</h1>
 </div>


@model List<Carton>
@{ foreach( var item in Model ) {
    <div class="mt-5 container px-5 border" style="width:800px">
    @{ for ( int f = 0; f < 3; f++ ) {
        <div class="row border bg-light">
        @{  for ( int c = 0; c < 9; c++ ) {
          <div class="col numero">
           @if ( @item.Matriz[f, c] == 0 ) {
              <p> </p>
           } else {
              <p>@item.Matriz[f, c]</p>
           }
          </div>
           }
        }
        </div>
     }
  }
    </div>
 }//foreach carton
}
---------------------
