

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div id="cartones">
            @Html.Partial("_Cartones", (List<Carton>)ViewBag.lista )
</div>


    <button id="btnBolilla" onclick="Bolilla()"> Bolilla </button>
    <h2 id="resultado"> </h2>



<script>
    function Bolilla() {
        $.post("/Home/LanzarBolilla", function (resultado) {
            $("#resultado").text( resultado );
            $("#cartones").load(location.href + " #cartones");
        } );
    }
</script>
