

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div id="cartones">
            @Html.Partial("_Cartones", (List<Carton>)ViewBag.lista )
</div>


    <button id="btnBolilla" onclick="Bolilla()"> Lanzar Bolilla </button>
    <h2>Bolilllas: </h2><h2 id="resultado"> </h2>
    
    <div id="listaBolillas">
            <!--Html.Partial("_ListaBolillas", (Stack<Bolilla>)ViewBag.pilaBolillas )-->
    <p> @{
            ViewBag.pilaBolillas;  
        }</p>
</div>


<script>
    function Bolilla() {
        $.post("/Home/LanzarBolilla", function (resultado) {
            $("#resultado").text( resultado );

            $("#cartones").load(location.href + " #cartones");
            $("#listaBolillas").load(location.href + " #listaBolillas");
        } );
    }

</script>
